{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body><CENTER>
    <h1>CARDS</h1>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'images/lakshadweep1.jpeg'  %}" alt="image not found">
        <div class="card-body">
          <h5 class="card-title">Lakshadweep</h5>
          <h6 class="card-subtitle mb-2 text-muted">Look at the beauty of it...</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button style="border:10px"><a href="https://getbootstrap.com/docs/4.6/getting-started/introduction/" class="btn btn-darkgrey" >wanna see few more..</a></button>
            <button style="border:10px"><a href="https://getbootstrap.com/docs/4.6/getting-started/introduction/" class="btn btn-darkgrey">Related Islands</a></button>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          This is some text within a card body.
        </div>
      </div>

      <h1>-------------------------------------</h1>


      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Hemani</h5>
          <h6 class="card-subtitle mb-2 text-muted">A basic card</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Click Here</a>
          <a href="#" class="card-link">Click Here </a>
        </div>
      </div>
      <h1>-------------------------------------</h1>


      <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Item 1</li>
          <li class="list-group-item">Item 2</li>
          <li class="list-group-item">Item 3</li>
        </ul>
      </div>
<h1>-------------------------------------</h1>


      <div class="card" style="width: 18rem;">
        <div class="card-header">
          ITEMS
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
      </div>

      <h1>-------------------------------------</h1>

      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Hemani</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Item 1</li>
          <li class="list-group-item">Item 2</li>
          <li class="list-group-item">Item 3</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Click Here</a>
          <a href="#" class="card-link">Click Here</a>
        </div>
      </div>



   </CENTER>
  </body>
</html>